.page-container >.right-column {
    color:#ffffff;
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    margin-left: 125px;
    margin-top: 30px;
}
.page-container >.right-column >.project {
    color:#ffffff;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 15px;
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    font-weight: bold;
    font-size: 18px;
}
.page-container >.right-column >.project >#colorBlue {
    color:#76daff;
    margin-left: 5px;
}
.page-container >.left-column {
    color:#ffffff;
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    font-size: 50px;
    margin-left: 60px;
    margin-top: -80px;
    font-weight: 100;
}
.page-container >.left-column img {
    width: 40px;
    height: 100%;
    margin-left: 5px;
}
.page-container >.left-column >.smallerText p {
    font-size: 30px;
}
.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.btn-wraper {
    margin: 50px 0px;
}
.btn-wraper > .sign-up button{
    background-color: #4bce79;
    border-top: solid 20px #4bce79;
    border-bottom: solid 20px #4bce79;
    border-left: solid 15px #4bce79;
    border-right: solid 15px #4bce79;
    font-size: 30px;
    border-radius: 5px;
    margin-right: 20px;
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    font-weight: bold;

}
.btn-wraper > .learn-more button{
    color: white;
    background-color: black;
    border-top: solid 20px black;
    border-bottom: solid 20px black;
    border-left: solid 15px black;
    border-right: solid 15px black;
    border-radius: 5px;
    font-size: 30px;
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    font-weight: bold;

}
.page-container img{
    height: 100%;
    width: 600px;
}
.btn-wraper{
    display: flex;
    align-items: center;
}